In [44]:
import pandas as pd
import numpy as np

folder='/Users/gavin/Documents/Metis/Coursework/Project_2/'

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Added information outlining closest station. in interest of time, completed by matching closest station to each neighborhood and listing its zipcode. Used to calculate distance to manhattan. Info downloaded from MTA website and copied and pasted from wikipedia (faster to copy/paste from grid in Wikipedia than to webscrape and parse through HTML code. pasted grid in correct format.)

In [38]:
df_names=pd.read_csv(folder+'LIRR_stations.csv')

In [39]:
df_names=df_names[['Name', 'County', 'Fare Zone']]

In [40]:
df_names.columns.str.strip()

Index(['Name', 'County', 'Fare Zone'], dtype='object')

In [41]:
df_names.head()

                Name    County  Fare Zone
0          Albertson    Nassau        7.0
1         Amagansett   Suffolk       14.0
2         Amityville   Suffolk        9.0
3  Atlantic Terminal  Brooklyn        1.0
4         Auburndale    Queens        3.0

In [11]:
df_locations=df_names=pd.read_csv(folder+'stops.csv')

In [12]:
df_locations.head()

                                        the_geom             STOPNAME
0   POINT (-73.95639000000006 40.74128000000003)     Long Island City
1   POINT (-73.94679000000005 40.74238000000003)  Hunterspoint Avenue
2   POINT (-73.99358000000005 40.75058000000003)         Penn Station
3   POINT (-73.90297000000005 40.74584000000004)             Woodside
4  POINT (-73.84481000000005 40.719570000000026)         Forest Hills

In [15]:
df_locations['latlon']=df_locations.the_geom.str[7:-1]

In [16]:
df_locations.head()

,the_geom,STOPNAME,latlon
0,POINT (-73.95639000000006 40.74128000000003),Long Island City,-73.95639000000006 40.74128000000003
1,POINT (-73.94679000000005 40.74238000000003),Hunterspoint Avenue,-73.94679000000005 40.74238000000003
2,POINT (-73.99358000000005 40.75058000000003),Penn Station,-73.99358000000005 40.75058000000003
3,POINT (-73.90297000000005 40.74584000000004),Woodside,-73.90297000000005 40.74584000000004
4,POINT (-73.84481000000005 40.719570000000026),Forest Hills,-73.84481000000005 40.719570000000026

In [19]:
df_locations['latlon']=df_locations.latlon.str.split(' ')

In [20]:
df_locations

,the_geom,STOPNAME,latlon
0,POINT (-73.95639000000006 40.74128000000003),Long Island City,"[-73.95639000000006, 40.74128000000003]"
1,POINT (-73.94679000000005 40.74238000000003),Hunterspoint Avenue,"[-73.94679000000005, 40.74238000000003]"
2,POINT (-73.99358000000005 40.75058000000003),Penn Station,"[-73.99358000000005, 40.75058000000003]"
3,POINT (-73.90297000000005 40.74584000000004),Woodside,"[-73.90297000000005, 40.74584000000004]"
4,POINT (-73.84481000000005 40.719570000000026),Forest Hills,"[-73.84481000000005, 40.719570000000026]"
...,...,...,...
119,POINT (-72.39012000000005 40.89471000000004),Southampton,"[-72.39012000000005, 40.89471000000004]"
120,POINT (-72.31005000000006 40.938980000000036),Bridgehampton,"[-72.31005000000006, 40.938980000000036]"
121,POINT (-72.19324000000006 40.96508000000003),East Hampton,"[-72.19324000000006, 40.96508000000003]"
122,POINT (-72.13233000000005 40.98003000000003),Amagansett,"[-72.13233000000005, 40.98003000000003]"
123,POINT (-71.95388000000005 41.04710000000003),Montauk,"[-71.95388000000005, 41.04710000000003]"

In [22]:
df_locations['lon']=df_locations.latlon.str[0]

In [25]:
df_locations['lat']=df_locations.latlon.str[1]

AttributeError: 'Series' object has no attribute 'strip'

In [24]:
df_locations.head()

,the_geom,STOPNAME,latlon,lat,lon
0,POINT (-73.95639000000006 40.74128000000003),Long Island City,"[-73.95639000000006, 40.74128000000003]",40.74128000000003,-73.95639000000006
1,POINT (-73.94679000000005 40.74238000000003),Hunterspoint Avenue,"[-73.94679000000005, 40.74238000000003]",40.74238000000003,-73.94679000000005
2,POINT (-73.99358000000005 40.75058000000003),Penn Station,"[-73.99358000000005, 40.75058000000003]",40.75058000000003,-73.99358000000005
3,POINT (-73.90297000000005 40.74584000000004),Woodside,"[-73.90297000000005, 40.74584000000004]",40.74584000000004,-73.90297000000005
4,POINT (-73.84481000000005 40.719570000000026),Forest Hills,"[-73.84481000000005, 40.719570000000026]",40.719570000000026,-73.84481000000005

In [29]:
df_locations['lon']=df_locations.lon.str.strip()

In [31]:
df_locations.drop(['the_geom', 'latlon'], axis=1)

                STOPNAME                 lat                 lon
0       Long Island City   40.74128000000003  -73.95639000000006
1    Hunterspoint Avenue   40.74238000000003  -73.94679000000005
2           Penn Station   40.75058000000003  -73.99358000000005
3               Woodside   40.74584000000004  -73.90297000000005
4           Forest Hills  40.719570000000026  -73.84481000000005
..                   ...                 ...                 ...
119          Southampton   40.89471000000004  -72.39012000000005
120        Bridgehampton  40.938980000000036  -72.31005000000006
121         East Hampton   40.96508000000003  -72.19324000000006
122           Amagansett   40.98003000000003  -72.13233000000005
123              Montauk   41.04710000000003  -71.95388000000005

[124 rows x 3 columns]

In [42]:
df_station=pd.merge(df_names, df_locations, left_on='Name', right_on='STOPNAME')

In [45]:
df_station.head(200)

                    Name     County  Fare Zone                                       the_geom             STOPNAME                                    latlon                 lat                 lon
0              Albertson     Nassau        7.0  POINT (-73.64169000000005 40.772050000000036)            Albertson  [-73.64169000000005, 40.772050000000036]  40.772050000000036  -73.64169000000005
1             Amagansett    Suffolk       14.0   POINT (-72.13233000000005 40.98003000000003)           Amagansett   [-72.13233000000005, 40.98003000000003]   40.98003000000003  -72.13233000000005
2             Amityville    Suffolk        9.0  POINT (-73.42031000000006 40.680240000000026)           Amityville  [-73.42031000000006, 40.680240000000026]  40.680240000000026  -73.42031000000006
3      Atlantic Terminal   Brooklyn        1.0   POINT (-73.97768000000006 40.68490100000003)    Atlantic Terminal   [-73.97768000000006, 40.68490100000003]   40.68490100000003  -73.97768000000006
4             Auburndale     Queens        3.0  POINT (-73.78996000000005 40.761430000000026)           Auburndale  [-73.78996000000005, 40.761430000000026]  40.761430000000026  -73.78996000000005
5                Babylon    Suffolk        9.0   POINT (-73.32405000000006 40.70068000000003)              Babylon   [-73.32405000000006, 40.70068000000003]   40.70068000000003  -73.32405000000006
6                Baldwin     Nassau        7.0  POINT (-73.60716000000005 40.656720000000035)              Baldwin  [-73.60716000000005, 40.656720000000035]  40.656720000000035  -73.60716000000005
7              Bay Shore    Suffolk       10.0   POINT (-73.25408000000006 40.72443000000003)            Bay Shore   [-73.25408000000006, 40.72443000000003]   40.72443000000003  -73.25408000000006
8                Bayside     Queens        3.0   POINT (-73.77125000000005 40.76314000000003)              Bayside   [-73.77125000000005, 40.76314000000003]   40.76314000000003  -73.77125000000005
9              Bellerose     Nassau        4.0   POINT (-73.71665000000006 40.72220000000003)            Bellerose   [-73.71665000000006, 40.72220000000003]   40.72220000000003  -73.71665000000006
10              Bellmore     Nassau        7.0   POINT (-73.52886000000005 40.66879000000003)             Bellmore   [-73.52886000000005, 40.66879000000003]   40.66879000000003  -73.52886000000005
11              Bellport    Suffolk       12.0   POINT (-72.94396000000006 40.77373000000003)             Bellport   [-72.94396000000006, 40.77373000000003]   40.77373000000003  -72.94396000000006
12              Bethpage     Nassau        7.0   POINT (-73.48344000000006 40.74303000000003)             Bethpage   [-73.48344000000006, 40.74303000000003]   40.74303000000003  -73.48344000000006
13             Brentwood    Suffolk       10.0   POINT (-73.24361000000006 40.78083000000003)            Brentwood   [-73.24361000000006, 40.78083000000003]   40.78083000000003  -73.24361000000006
14         Bridgehampton    Suffolk       14.0  POINT (-72.31005000000006 40.938980000000036)        Bridgehampton  [-72.31005000000006, 40.938980000000036]  40.938980000000036  -72.31005000000006
15              Broadway     Queens        3.0   POINT (-73.80176000000006 40.76164000000003)             Broadway   [-73.80176000000006, 40.76164000000003]   40.76164000000003  -73.80176000000006
16           Carle Place     Nassau        7.0   POINT (-73.60365000000006 40.74920000000003)          Carle Place   [-73.60365000000006, 40.74920000000003]   40.74920000000003  -73.60365000000006
17            Cedarhurst     Nassau        4.0  POINT (-73.72618000000006 40.622170000000025)           Cedarhurst  [-73.72618000000006, 40.622170000000025]  40.622170000000025  -73.72618000000006
18         Central Islip    Suffolk       10.0   POINT (-73.19486000000006 40.79184000000003)        Central Islip   [-73.19486000000006, 40.79184000000003]   40.79184000000003  -73.19486000000006
19         Centre Avenue     Nassau        7.0   POINT (-73.66397000000006 40.64831000000003)        Centre Avenue   [-73.66397000000006, 40.64831000000003]   40.64831000000003  -73.66397000000006
20    Cold Spring Harbor    Suffolk        9.0   POINT (-73.45108000000006 40.83563000000003)   Cold Spring Harbor   [-73.45108000000006, 40.83563000000003]   40.83563000000003  -73.45108000000006
21              Copiague    Suffolk        9.0   POINT (-73.39834000000006 40.68101000000003)             Copiague   [-73.39834000000006, 40.68101000000003]   40.68101000000003  -73.39834000000006
22    Country Life Press     Nassau        4.0   POINT (-73.62967000000006 40.72145000000003)   Country Life Press   [-73.62967000000006, 40.72145000000003]   40.72145000000003  -73.62967000000006
23             Deer Park    Suffolk        9.0   POINT (-73.29356000000006 40.76948000000003)            Deer Park   [-73.29356000000006, 40.76948000000003]   40.76948000000003  -73.29356000000006
24            Douglaston     Queens        3.0   POINT (-73.74941000000005 40.76806000000003)           Douglaston   [-73.74941000000005, 40.76806000000003]   40.76806000000003  -73.74941000000005
25          East Hampton    Suffolk       14.0   POINT (-72.19324000000006 40.96508000000003)         East Hampton   [-72.19324000000006, 40.96508000000003]   40.96508000000003  -72.19324000000006
26         East New York   Brooklyn        1.0   POINT (-73.90281000000006 40.67580000000003)        East New York   [-73.90281000000006, 40.67580000000003]   40.67580000000003  -73.90281000000006
27         East Rockaway     Nassau        7.0   POINT (-73.65821000000005 40.64220000000003)        East Rockaway   [-73.65821000000005, 40.64220000000003]   40.64220000000003  -73.65821000000005
28        East Williston     Nassau        4.0   POINT (-73.63941000000005 40.75601000000003)       East Williston   [-73.63941000000005, 40.75601000000003]   40.75601000000003  -73.63941000000005
29          Far Rockaway     Queens        4.0   POINT (-73.75054000000006 40.60913000000003)         Far Rockaway   [-73.75054000000006, 40.60913000000003]   40.60913000000003  -73.75054000000006
30           Farmingdale     Nassau        7.0  POINT (-73.44124000000005 40.735910000000025)          Farmingdale  [-73.44124000000005, 40.735910000000025]  40.735910000000025  -73.44124000000005
31           Floral Park     Nassau        4.0  POINT (-73.70640000000006 40.724630000000026)          Floral Park  [-73.70640000000006, 40.724630000000026]  40.724630000000026  -73.70640000000006
32          Forest Hills     Queens        1.0  POINT (-73.84481000000005 40.719570000000026)         Forest Hills  [-73.84481000000005, 40.719570000000026]  40.719570000000026  -73.84481000000005
33              Freeport     Nassau        7.0  POINT (-73.58232000000005 40.657450000000026)             Freeport  [-73.58232000000005, 40.657450000000026]  40.657450000000026  -73.58232000000005
34           Garden City     Nassau        4.0   POINT (-73.64036000000006 40.72309000000003)          Garden City   [-73.64036000000006, 40.72309000000003]   40.72309000000003  -73.64036000000006
35                Gibson     Nassau        4.0   POINT (-73.70183000000006 40.64924000000003)               Gibson   [-73.70183000000006, 40.64924000000003]   40.64924000000003  -73.70183000000006
36             Glen Cove     Nassau        7.0   POINT (-73.61616000000005 40.86583000000003)            Glen Cove   [-73.61616000000005, 40.86583000000003]   40.86583000000003  -73.61616000000005
37             Glen Head     Nassau        7.0   POINT (-73.62612000000006 40.83222000000003)            Glen Head   [-73.62612000000006, 40.83222000000003]   40.83222000000003  -73.62612000000006
38           Glen Street     Nassau        7.0   POINT (-73.62122000000005 40.85797000000004)          Glen Street   [-73.62122000000005, 40.85797000000004]   40.85797000000004  -73.62122000000005
39            Great Neck     Nassau        4.0   POINT (-73.72610000000006 40.78721000000003)           Great Neck   [-73.72610000000006, 40.78721000000003]   40.78721000000003  -73.72610000000006
40           Great River    Suffolk       10.0   POINT (-73.17019000000006 40.74044000000003)          Great River   [-73.17019000000006, 40.74044000000003]   40.74044000000003  -73.17019000000006
41             Greenlawn    Suffolk        9.0   POINT (-73.36285000000005 40.86866000000003)            Greenlawn   [-73.36285000000005, 40.86866000000003]   40.86866000000003  -73.36285000000005
42             Greenport    Suffolk       14.0   POINT (-72.36310000000006 41.09970000000003)            Greenport   [-72.36310000000006, 41.09970000000003]   41.09970000000003  -72.36310000000006
43             Greenvale     Nassau        7.0   POINT (-73.62687000000005 40.81571000000003)            Greenvale   [-73.62687000000005, 40.81571000000003]   40.81571000000003  -73.62687000000005
44          Hampton Bays    Suffolk       14.0   POINT (-72.52395000000006 40.87660000000004)         Hampton Bays   [-72.52395000000006, 40.87660000000004]   40.87660000000004  -72.52395000000006
45             Hempstead     Nassau        4.0   POINT (-73.62503000000005 40.71329000000003)            Hempstead   [-73.62503000000005, 40.71329000000003]   40.71329000000003  -73.62503000000005
46     Hempstead Gardens     Nassau        4.0   POINT (-73.64621000000005 40.69491000000003)    Hempstead Gardens   [-73.64621000000005, 40.69491000000003]   40.69491000000003  -73.64621000000005
47               Hewlett     Nassau        4.0   POINT (-73.70514000000006 40.63676000000003)              Hewlett   [-73.70514000000006, 40.63676000000003]   40.63676000000003  -73.70514000000006
48            Hicksville     Nassau        7.0   POINT (-73.52853000000006 40.76717000000003)           Hicksville   [-73.52853000000006, 40.76717000000003]   40.76717000000003  -73.52853000000006
49                Hollis     Queens        3.0  POINT (-73.76675000000006 40.710170000000026)               Hollis  [-73.76675000000006, 40.710170000000026]  40.710170000000026  -73.76675000000006
50   Hunterspoint Avenue     Queens        1.0   POINT (-73.94679000000005 40.74238000000003)  Hunterspoint Avenue   [-73.94679000000005, 40.74238000000003]   40.74238000000003  -73.94679000000005
51            Huntington    Suffolk        9.0   POINT (-73.40952000000006 40.85300000000003)           Huntington   [-73.40952000000006, 40.85300000000003]   40.85300000000003  -73.40952000000006
52                Inwood     Nassau        4.0  POINT (-73.74418000000006 40.612280000000034)               Inwood  [-73.74418000000006, 40.612280000000034]  40.612280000000034  -73.74418000000006
53           Island Park     Nassau        7.0   POINT (-73.65474000000006 40.60129000000003)          Island Park   [-73.65474000000006, 40.60129000000003]   40.60129000000003  -73.65474000000006
54                 Islip    Suffolk       10.0  POINT (-73.20932000000006 40.735830000000036)                Islip  [-73.20932000000006, 40.735830000000036]  40.735830000000036  -73.20932000000006
55               Jamaica     Queens        3.0  POINT (-73.80853000000006 40.699600000000025)              Jamaica  [-73.80853000000006, 40.699600000000025]  40.699600000000025  -73.80853000000006
56           Kew Gardens     Queens        1.0   POINT (-73.83089000000005 40.70964000000003)          Kew Gardens   [-73.83089000000005, 40.70964000000003]   40.70964000000003  -73.83089000000005
57            Kings Park    Suffolk       10.0  POINT (-73.25625000000005 40.883660000000035)           Kings Park  [-73.25625000000005, 40.883660000000035]  40.883660000000035  -73.25625000000005
58              Lakeview     Nassau        4.0   POINT (-73.65214000000006 40.68585000000003)             Lakeview   [-73.65214000000006, 40.68585000000003]   40.68585000000003  -73.65214000000006
59             Laurelton     Queens        3.0  POINT (-73.75175000000006 40.668470000000035)            Laurelton  [-73.75175000000006, 40.668470000000035]  40.668470000000035  -73.75175000000006
60              Lawrence     Nassau        4.0   POINT (-73.73590000000006 40.61573000000003)             Lawrence   [-73.73590000000006, 40.61573000000003]   40.61573000000003  -73.73590000000006
61           Lindenhurst    Suffolk        9.0  POINT (-73.36921000000005 40.688260000000035)          Lindenhurst  [-73.36921000000005, 40.688260000000035]  40.688260000000035  -73.36921000000005
62           Little Neck     Queens        3.0   POINT (-73.74065000000006 40.77504000000003)          Little Neck   [-73.74065000000006, 40.77504000000003]   40.77504000000003  -73.74065000000006
63          Locust Manor     Queens        3.0   POINT (-73.76504000000006 40.67513000000004)         Locust Manor   [-73.76504000000006, 40.67513000000004]   40.67513000000004  -73.76504000000006
64         Locust Valley     Nassau        7.0   POINT (-73.59830000000005 40.87446000000003)        Locust Valley   [-73.59830000000005, 40.87446000000003]   40.87446000000003  -73.59830000000005
65            Long Beach     Nassau        7.0   POINT (-73.66482000000006 40.59017000000003)           Long Beach   [-73.66482000000006, 40.59017000000003]   40.59017000000003  -73.66482000000006
66      Long Island City     Queens        1.0   POINT (-73.95639000000006 40.74128000000003)     Long Island City   [-73.95639000000006, 40.74128000000003]   40.74128000000003  -73.95639000000006
67              Lynbrook     Nassau        4.0   POINT (-73.67607000000005 40.65605000000003)             Lynbrook   [-73.67607000000005, 40.65605000000003]   40.65605000000003  -73.67607000000005
68              Malverne     Nassau        4.0  POINT (-73.66886000000005 40.675470000000026)             Malverne  [-73.66886000000005, 40.675470000000026]  40.675470000000026  -73.66886000000005
69             Manhasset     Nassau        4.0   POINT (-73.69990000000006 40.79672000000003)            Manhasset   [-73.69990000000006, 40.79672000000003]   40.79672000000003  -73.69990000000006
70            Massapequa     Nassau        7.0   POINT (-73.46905000000005 40.67692000000004)           Massapequa   [-73.46905000000005, 40.67692000000004]   40.67692000000004  -73.46905000000005
71       Massapequa Park     Nassau        7.0   POINT (-73.45474000000006 40.67785000000003)      Massapequa Park   [-73.45474000000006, 40.67785000000003]   40.67785000000003  -73.45474000000006
72             Mattituck    Suffolk       14.0   POINT (-72.53606000000006 40.99179000000004)            Mattituck   [-72.53606000000006, 40.99179000000004]   40.99179000000004  -72.53606000000006
73               Medford    Suffolk       10.0   POINT (-72.99891000000005 40.81739000000003)              Medford   [-72.99891000000005, 40.81739000000003]   40.81739000000003  -72.99891000000005
74       Merillon Avenue     Nassau        4.0   POINT (-73.66252000000006 40.73516000000003)      Merillon Avenue   [-73.66252000000006, 40.73516000000003]   40.73516000000003  -73.66252000000006
75               Merrick     Nassau        7.0  POINT (-73.55062000000005 40.663790000000034)              Merrick  [-73.55062000000005, 40.663790000000034]  40.663790000000034  -73.55062000000005
76               Mineola     Nassau        4.0   POINT (-73.64086000000006 40.74034000000004)              Mineola   [-73.64086000000006, 40.74034000000004]   40.74034000000004  -73.64086000000006
77               Montauk    Suffolk       14.0   POINT (-71.95388000000005 41.04710000000003)              Montauk   [-71.95388000000005, 41.04710000000003]   41.04710000000003  -71.95388000000005
78           Murray Hill     Queens        3.0   POINT (-73.81454000000005 40.76270000000004)          Murray Hill   [-73.81454000000005, 40.76270000000004]   40.76270000000004  -73.81454000000005
79      Nassau Boulevard     Nassau        4.0  POINT (-73.66270000000006 40.722950000000026)     Nassau Boulevard  [-73.66270000000006, 40.722950000000026]  40.722950000000026  -73.66270000000006
80         New Hyde Park     Nassau        4.0   POINT (-73.68096000000006 40.73075000000003)        New Hyde Park   [-73.68096000000006, 40.73075000000003]   40.73075000000003  -73.68096000000006
81             Northport    Suffolk        9.0   POINT (-73.32848000000006 40.88064000000003)            Northport   [-73.32848000000006, 40.88064000000003]   40.88064000000003  -73.32848000000006
82       Nostrand Avenue   Brooklyn        1.0  POINT (-73.94822000000006 40.678380000000026)      Nostrand Avenue  [-73.94822000000006, 40.678380000000026]  40.678380000000026  -73.94822000000006
83               Oakdale    Suffolk       10.0  POINT (-73.13243000000006 40.743420000000036)              Oakdale  [-73.13243000000006, 40.743420000000036]  40.743420000000036  -73.13243000000006
84             Oceanside     Nassau        7.0   POINT (-73.65466000000006 40.63471000000003)            Oceanside   [-73.65466000000006, 40.63471000000003]   40.63471000000003  -73.65466000000006
85            Oyster Bay     Nassau        7.0   POINT (-73.53403000000006 40.87533000000003)           Oyster Bay   [-73.53403000000006, 40.87533000000003]   40.87533000000003  -73.53403000000006
86             Patchogue    Suffolk       10.0   POINT (-73.01574000000005 40.76187000000004)            Patchogue   [-73.01574000000005, 40.76187000000004]   40.76187000000004  -73.01574000000005
87          Penn Station  Manhattan        1.0   POINT (-73.99358000000005 40.75058000000003)         Penn Station   [-73.99358000000005, 40.75058000000003]   40.75058000000003  -73.99358000000005
88              Pinelawn    Suffolk        9.0   POINT (-73.39960000000006 40.74535000000003)             Pinelawn   [-73.39960000000006, 40.74535000000003]   40.74535000000003  -73.39960000000006
89              Plandome     Nassau        4.0   POINT (-73.69521000000006 40.81069000000003)             Plandome   [-73.69521000000006, 40.81069000000003]   40.81069000000003  -73.69521000000006
90        Port Jefferson    Suffolk       10.0   POINT (-73.05250000000005 40.93454000000003)       Port Jefferson   [-73.05250000000005, 40.93454000000003]   40.93454000000003  -73.05250000000005
91       Port Washington     Nassau        4.0   POINT (-73.68740000000005 40.82903000000004)      Port Washington   [-73.68740000000005, 40.82903000000004]   40.82903000000004  -73.68740000000005
92        Queens Village     Queens        3.0   POINT (-73.73646000000005 40.71745000000003)       Queens Village   [-73.73646000000005, 40.71745000000003]   40.71745000000003  -73.73646000000005
93             Riverhead    Suffolk       14.0   POINT (-72.66691000000006 40.91983000000003)            Riverhead   [-72.66691000000006, 40.91983000000003]   40.91983000000003  -72.66691000000006
94      Rockville Centre     Nassau        7.0   POINT (-73.64655000000006 40.65831000000003)     Rockville Centre   [-73.64655000000006, 40.65831000000003]   40.65831000000003  -73.64655000000006
95            Ronkonkoma    Suffolk       10.0  POINT (-73.10594000000006 40.808080000000025)           Ronkonkoma  [-73.10594000000006, 40.808080000000025]  40.808080000000025  -73.10594000000006
96              Rosedale     Queens        3.0   POINT (-73.73555000000006 40.66594000000003)             Rosedale   [-73.73555000000006, 40.66594000000003]   40.66594000000003  -73.73555000000006
97                Roslyn     Nassau        7.0  POINT (-73.64326000000005 40.790470000000035)               Roslyn  [-73.64326000000005, 40.790470000000035]  40.790470000000035  -73.64326000000005
98            St. Albans     Queens        3.0   POINT (-73.76551000000006 40.69118000000003)           St. Albans   [-73.76551000000006, 40.69118000000003]   40.69118000000003  -73.76551000000006
99             St. James    Suffolk       10.0   POINT (-73.15951000000005 40.88216000000003)            St. James   [-73.15951000000005, 40.88216000000003]   40.88216000000003  -73.15951000000005

In [47]:
df_queens_stations=df_station[df_station['County']=='Queens']

In [48]:
df_queens.head

NameError: name 'df_queens' is not defined

In [51]:
df_queens_stations.to_csv(folder+'queens_stations.csv')

In [50]:
df_queens_stations.Name.nunique()

19

In [55]:
df_station_info=pd.read_csv(folder+'queens_stations2.csv')

In [56]:
df_station_info.head()

   Unnamed: 0          Name  County  Fare Zone                                       the_geom      STOPNAME                                        latlon       lat       lon  In zipcode In neighborhood  Miles to Penn Station
0           4    Auburndale  Queens        3.0  POINT (-73.78996000000005 40.761430000000026)    Auburndale  ['-73.78996000000005', '40.761430000000026']  40.76143 -73.78996       11358      Auburndale                    9.5
1           8       Bayside  Queens        3.0   POINT (-73.77125000000005 40.76314000000003)       Bayside   ['-73.77125000000005', '40.76314000000003']  40.76314 -73.77125       11361         Bayside                   10.8
2          15      Broadway  Queens        3.0   POINT (-73.80176000000006 40.76164000000003)      Broadway   ['-73.80176000000006', '40.76164000000003']  40.76164 -73.80176       11358     Murray Hill                    9.2
3          24    Douglaston  Queens        3.0   POINT (-73.74941000000005 40.76806000000003)    Douglaston   ['-73.74941000000005', '40.76806000000003']  40.76806 -73.74941       11363      Douglaston                   12.1
4          29  Far Rockaway  Queens        4.0   POINT (-73.75054000000006 40.60913000000003)  Far Rockaway   ['-73.75054000000006', '40.60913000000003']  40.60913 -73.75054       11691    Far Rockaway                   20.4

In [58]:
df_station_info.drop('Unnamed: 0', axis=1)

                   Name  County  Fare Zone                                       the_geom             STOPNAME                                        latlon       lat       lon  In zipcode   In neighborhood  Miles to Penn Station
0            Auburndale  Queens        3.0  POINT (-73.78996000000005 40.761430000000026)           Auburndale  ['-73.78996000000005', '40.761430000000026']  40.76143 -73.78996       11358        Auburndale                    9.5
1               Bayside  Queens        3.0   POINT (-73.77125000000005 40.76314000000003)              Bayside   ['-73.77125000000005', '40.76314000000003']  40.76314 -73.77125       11361           Bayside                   10.8
2              Broadway  Queens        3.0   POINT (-73.80176000000006 40.76164000000003)             Broadway   ['-73.80176000000006', '40.76164000000003']  40.76164 -73.80176       11358       Murray Hill                    9.2
3            Douglaston  Queens        3.0   POINT (-73.74941000000005 40.76806000000003)           Douglaston   ['-73.74941000000005', '40.76806000000003']  40.76806 -73.74941       11363        Douglaston                   12.1
4          Far Rockaway  Queens        4.0   POINT (-73.75054000000006 40.60913000000003)         Far Rockaway   ['-73.75054000000006', '40.60913000000003']  40.60913 -73.75054       11691      Far Rockaway                   20.4
5          Forest Hills  Queens        1.0  POINT (-73.84481000000005 40.719570000000026)         Forest Hills  ['-73.84481000000005', '40.719570000000026']  40.71957 -73.84481       11375      Forest Hills                    6.7
6                Hollis  Queens        3.0  POINT (-73.76675000000006 40.710170000000026)               Hollis  ['-73.76675000000006', '40.710170000000026']  40.71017 -73.76675       11423            Hollis                   11.5
7   Hunterspoint Avenue  Queens        1.0   POINT (-73.94679000000005 40.74238000000003)  Hunterspoint Avenue   ['-73.94679000000005', '40.74238000000003']  40.74238 -73.94679       11101  Long Island City                    2.8
8               Jamaica  Queens        3.0  POINT (-73.80853000000006 40.699600000000025)              Jamaica  ['-73.80853000000006', '40.699600000000025']  40.69960 -73.80853       11435           Jamacia                    9.3
9           Kew Gardens  Queens        1.0   POINT (-73.83089000000005 40.70964000000003)          Kew Gardens   ['-73.83089000000005', '40.70964000000003']  40.70964 -73.83089       11415       Kew Gardens                    7.7
10            Laurelton  Queens        3.0  POINT (-73.75175000000006 40.668470000000035)            Laurelton  ['-73.75175000000006', '40.668470000000035']  40.66847 -73.75175       11413         Laurelton                   13.1
11          Little Neck  Queens        3.0   POINT (-73.74065000000006 40.77504000000003)          Little Neck   ['-73.74065000000006', '40.77504000000003']  40.77504 -73.74065       11363       Little Neck                   12.7
12         Locust Manor  Queens        3.0   POINT (-73.76504000000006 40.67513000000004)         Locust Manor   ['-73.76504000000006', '40.67513000000004']  40.67513 -73.76504       11434         Rochedale                   12.2
13     Long Island City  Queens        1.0   POINT (-73.95639000000006 40.74128000000003)     Long Island City   ['-73.95639000000006', '40.74128000000003']  40.74128 -73.95639       11101  Long Island City                    2.8
14          Murray Hill  Queens        3.0   POINT (-73.81454000000005 40.76270000000004)          Murray Hill   ['-73.81454000000005', '40.76270000000004']  40.76270 -73.81454       11354       Murray Hill                    8.4
15       Queens Village  Queens        3.0   POINT (-73.73646000000005 40.71745000000003)       Queens Village   ['-73.73646000000005', '40.71745000000003']  40.71745 -73.73646       11428    Queens Village                   13.2
16             Rosedale  Queens        3.0   POINT (-73.73555000000006 40.66594000000003)             Rosedale   ['-73.73555000000006', '40.66594000000003']  40.66594 -73.73555       11422          Rosedale                   14.0
17           St. Albans  Queens        3.0   POINT (-73.76551000000006 40.69118000000003)           St. Albans   ['-73.76551000000006', '40.69118000000003']  40.69118 -73.76551       11412        St. Albans                   11.8
18             Woodside  Queens        1.0   POINT (-73.90297000000005 40.74584000000004)             Woodside   ['-73.90297000000005', '40.74584000000004']  40.74584 -73.90297       11377          Woodside                    3.1

In [59]:
df_station_info.rename(columns={'lat':'station_lat', 'lon':'station_lon'}, inplace=True)

In [62]:
neighborhood_list=['Whitestone', 'Malba', 'Beechhurst',
       'Northeastern Queens', 'Clearview', 'Bay Terrace',
       'Queensboro Hill', 'Queens',  
       , 'Northwestern Queens',
    
       ,
       , 'Nassau Heights', , , 'Eastwood', '',
       ,
       ',
        'Clarenceville', 
       'Southeastern Queens', ',
       '
      ]

In [65]:
neighborhood_list.remove()

ValueError: list.remove(x): x not in list

In [187]:
station_key['Clearview']

KeyError: 'Clearview'

In [146]:
station_key['Rockaway Beach']='Far Rockaway'

In [158]:
key=pd.DataFrame.from_dict(station_key, orient='Index')

In [178]:
key.rename(columns={0:"Neighborhood_Station",}, inplace=True)

In [179]:
key.head()

      Neighborhood    Neighborhood_Station
0         Flushing  Flushing - Main Street
1    College Point  Flushing - Main Street
2       Douglaston              Douglaston
3  Douglaston Hill              Douglaston
4  Douglaston Park              Douglaston

In [180]:
new_frame=pd.merge(key, df_station_info, left_on='Neighborhood_Station', right_on='Name')

In [183]:
stations_frame=new_frame[['Neighborhood', 'Neighborhood_Station', 'Fare Zone', 'station_lat', 'station_lon', 'In zipcode', 'Miles to Penn Station']]

In [184]:
stations_frame.to_csv(folder+'full_station_info.csv')

In [151]:
print(station_key)

{'Flushing': 'Flushing - Main Street', 'College Point': 'Flushing - Main Street', 'Douglaston': 'Douglaston', 'Douglaston Hill': 'Douglaston', 'Douglaston Park': 'Douglaston', 'Woodside': 'Woodside', 'Elmhurst': 'Woodside', 'Maspeth': 'Woodside', 'Jackson Heights': 'Woodside', 'Sunnyside': 'Hunterspoint Ave', 'Bayside': 'Bayside', 'Forest Park': 'Kew Gardens', 'Ridgewood': 'East New York', 'Astoria': 'Hunterspoint Ave', 'Steinway': 'Hunterspoint Ave', 'New Astoria': 'Hunterspoint Ave', 'Long Island City': 'Long Island City', 'Forest Hills': 'Forest Hills', 'Rego Park': 'Forest Hills', 'Bayside Manor': 'Bayside', 'Jamaica Estates': 'Jamaica', 'Jamaica': 'Jamaica', 'Jamaica Hills': 'Jamaica', 'Briarwood': 'Jamaica', 'Hillcrest': 'Jamaica', 'Hollis': 'Hollis', 'Woodhaven': 'Jamaica', 'Richmond Hill': 'Jamaica', 'Middle Village': 'Queens Village', 'Astoria Heights': 'Woodside', 'Pomonok': 'Forest Hills', 'North Corona': 'Flushing - Main', 'East Elmhurst': 'Forest Hills', 'Fresh Meadows': 'Hollis', 'South Corona': 'Forest Hills', 'Flushing Heights': 'Flushing - Main', 'Howard Beach': 'Jamaica', 'Rockwood Park': 'Jamaica', 'Utopia': 'Hollis', 'Queens Village': 'Queens Village', 'Bellrose': 'Bellrose', 'Holliswood': 'Hollis', 'Bellaire': 'Hollis', 'South Ozone Park': 'Far Rockaway', 'Broad Channel': 'East New York', 'Glen Oaks': 'Little Neck', 'South Jamaica': 'Jamaica', 'Springfield Gardens': 'Locust Manor', 'Rochedale': 'Locust Manor', 'Bellrose Manor': 'Little Neck', 'Brookville': 'Laurelton', 'Laurelton': 'Laurelton', 'Woodhull Park': 'Hollis', 'Ozone Park': 'East New York', 'Kew gardens': 'Kew Gardens', 'Kew Gardens': 'Kew Gardens', 'Liberty Heights Ward': 'East New York', 'Far Rockaway': 'Far Rockaway', 'Bayswater': 'Far Rockaway', 'Edgemere': 'Far Rockaway', 'Arverne': 'Far Rockaway', 'Rosedale': 'Rosedale', 'Rosedale Terrace Ward': 'Rosedale', 'Cambria Heights': 'Laurelton', 'Bellaire park': 'Hollis', 'Bellaire Park': 'Hollis', 'Bellaire Estates': 'Hollis', 'Hunters Point': 'Long Island City', 'Richmond HIll Kew Gardens': 'Kew Gardens', 'Richmond Hill Kew Gardens': 'Kew Gardens', 'Holliswood Jamaica': 'Hollis', 'Bellaire West': 'Hollis', 'Seaside': 'Far Rockaway', 'Belle Harbor': 'Far Rockaway', 'Rockaway Beach': 'Far Rockaway'}